extends ../../layouts/default.pug

block main 
  .card 
    .card-header 
      h2 #{article.title}
    .card-body
      h4 Ảnh nhỏ: 
      img(src=article.thumbnail, alt=article.title)
      h4 Mô tả:
      .description !{article.description }
